<section> 
    <article class="row" id="titulo">
        <h1>Proyectos Realizados</h1>    
    </article>  
               
    <article class="row p1">
        <h2>Un Proyecto</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam enimnam minima magni expedita mollitia omnis. Libero quas ipsum explicabocorrupti, praesentium inventore perspiciatis exercitationem aliquidneque, eius consequatur. Aperiam?
        </p>
        <div class="img1">
            <img src="../../../assets/unaImagen.png"  alt="unaImagen">
        </div>
    </article>
</section>
