
.row{
    padding: 5% 0%;
    background-color: #e6a6f5;
}

h1{
    text-align: center;   
}

@media (min-width: 576px){
    article{
        display: grid;
        grid-template-columns: 10% 35% 10% 35% 10%;
        grid-template-rows: auto;
        
        justify-items: center;       
    }
    .c1, .c3, .c5, .c7{
        grid-column-start: 2;
    }
    .c2, .c4, .c6, .c8{
        grid-column-start: 4;
    
    }

}

@media (min-width: 768px){
    article{
        display: grid;
        grid-template-columns: 3% auto 5% auto 5% auto 5%;
        grid-template-rows: auto;
        
        justify-items: center;       
    }
    .c1, .c4, .c7{
        grid-column-start: 2;
    }
    .c2, .c5, .c8{
        grid-column-start: 4;
    
    }
    .c3, .c6{
        grid-column-start: 6;
    }

}
@media (min-width: 992px){
    #titulo2{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    h1{
        grid-column-start: 2;
        grid-column-end: span 4;
    }
    article{
        display: grid;
        grid-template-columns: 10% auto 5% auto 5% auto 10%;
        grid-template-rows: auto;
        justify-items: center;       
    }
    .c1, .c4, .c7{
        grid-column-start: 2;
    }
    .c2, .c5, .c8{
        grid-column-start: 4;
    
    }
    .c3, .c6{
        grid-column-start: 6;
    }

}

@media (min-width: 1400px){
    article{
        display: grid;
        grid-template-columns: 10% auto 5% auto 5% auto 5% auto 10%;
        grid-template-rows: auto;
        row-gap: 20px;
        justify-items: center;       
    }
    .c1, .c5{
        grid-column-start: 2;
    }
    .c2, .c6 {
        grid-column-start: 4;
    
    }
    .c3, .c7{
        grid-column-start: 6;
    }
    .c4, .c8{
        grid-column-start: 8;
    }

}