<section>
    <div class="row" id="titulo2">
        <h1>Hard & Soft skill</h1>
    </div>

    <article class="row">
        <circle-progress class="text-center c1" [percent]="85" [radius]="100" [outerStrokeWidth]="8"
            [outerStrokeColor]="'#6e5075'" [innerStrokeColor]="'#e6a6f5'" [imageSrc]="'../assets/html1.png'"
            [showImage]="true" [imageHeight]="150" [imageWidth]="120" [animation]="true" [animationDuration]="300"
            [showUnits]="false" >
        </circle-progress>
        <circle-progress class="text-center c2" [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" 
            [imageSrc]="'../assets/css1.png'"
            [showImage]="true"
            [imageHeight]="150"
            [imageWidth]="120" [animation]="true"
            [animationDuration]="300" [showUnits]="false" >
        </circle-progress>
        <circle-progress class="text-center c3" [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'"
            [imageSrc]="'../assets/javascript.png'"
            [showImage]="true"
            [imageHeight]="150"
            [imageWidth]="120"[animation]="true"
            [animationDuration]="300" [showUnits]="false">
        </circle-progress>
        <circle-progress class="text-center c4" [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" 
            [imageSrc]="'../assets/python.png'"
            [showImage]="true"
            [imageHeight]="140"
            [imageWidth]="120" [animation]="true"
            [animationDuration]="300" [showUnits]="false">
        </circle-progress>
        <circle-progress class="text-center c5" [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" 
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageHeight]="140"
            [imageWidth]="120" [animation]="true"
            [animationDuration]="300" [showUnits]="false">
        </circle-progress>
        <circle-progress class="text-center c6" [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
                    [innerStrokeColor]="'#e6a6f5'" 
                    [imageSrc]="'../assets/grupal.png'"
                    [showImage]="true"
                    [imageHeight]="140"
                    [imageWidth]="120" [animation]="true"
                    [animationDuration]="300" [showUnits]="false">
                </circle-progress>
        <circle-progress class="text-center c7" [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
                    [innerStrokeColor]="'#e6a6f5'" 
                    [imageSrc]="'../assets/eng.png'"
                    [showImage]="true"
                    [imageHeight]="140"
                    [imageWidth]="120" [animation]="true"
                    [animationDuration]="300" [showUnits]="false">
                </circle-progress>
        <circle-progress class="text-center c8" [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
                    [innerStrokeColor]="'#e6a6f5'" 
                    [imageSrc]="'../assets/git.png'"
                    [showImage]="true"
                    [imageHeight]="140"
                    [imageWidth]="120" [animation]="true"
                    [animationDuration]="300" [showUnits]="false">
                </circle-progress>
    </article>
</section>
<!-- 
    
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" 
            [imageSrc]="'../assets/python.png'"
            [showImage]="true"
            [imageHeight]="140"
            [imageWidth]="120" [animation]="true"
            [animationDuration]="300" [showUnits]="false">
        </circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" 
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageHeight]="140"
            [imageWidth]="120" [animation]="true"
            [animationDuration]="300" [showUnits]="false">
        </circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" 
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="140"
            [imageWidth]="120" [animation]="true"
            [animationDuration]="300" [showUnits]="false">
        </circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" 
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="140"
            [imageWidth]="120" [animation]="true"
            [animationDuration]="300" [showUnits]="false">
        </circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" 
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="140"
            [imageWidth]="120" [animation]="true"
            [animationDuration]="300" [showUnits]="false">
        </circle-progress>
    </div>
</div> -->