<div class="row" id="titulo">
    <div id="separacion"></div>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h1>Educación</h1>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2 col-xl-2"></div>
</div>

<div class="row">
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" [title]="'HTML'" [titleColor]="'#6e5075'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" [title]="'HTML'" [titleColor]="'#6e5075'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" [title]="'HTML'" [titleColor]="'#6e5075'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [outerStrokeColor]="'#6e5075'"
            [innerStrokeColor]="'#e6a6f5'" [title]="'HTML'" [titleColor]="'#6e5075'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>