@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');
.row {
    padding: 20px;
    
}

div {
    background-color: #e6a6f5;
    font-family: 'Overpass Mono', monospace;
    text-align: center;
}

#fotoperfil {
    position: absolute;
    width: 31%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px #6e5075;
    left: 35%;
    top: 250px;
}

#nombre {
    font-weight: bold;
    margin-top: 25%;
    font-size:x-large;
}

#titulo{
   margin-top:-15px;
}

.sobreMi{
    padding: 5%;
}

@media (min-width: 329px) {

    #nombre {
        font-family: 'Overpass Mono', monospace;
        font-weight: bold;
        margin-top: 25%;
        text-align: center;
        
    }
    #titulo{
        text-align: center;
        margin-top:-15px;
    }
}

@media (min-width: 354px ){
    #fotoperfil {
        
        top: 260px;
    }
}

@media (min-width: 576px) {
    #fotoperfil {
        width: 200px;
        left: 3%; 
        top: 400px;
    }
    #nombre {
        font-family: 'Overpass Mono', monospace;
        font-weight: bold;
        margin-top: 2%;
        margin-left: 7%;
    }
    #titulo{
        margin-left: 7%;
    }
    .sobreMi{
        padding-top: 70px;
    }

}

@media (min-width: 992px){   
    #nombre{
        margin-left: 10%;
    }

    #titulo{
        margin-left: 20%;
    }
    .sobreMi{
        padding-top: 0;
    }
}

@media (min-width: 1400px){   
    #nombre{
        margin-left: 3%;
    }

    #titulo{
        margin-left: 3%;
    }
}

@media (min-width: 1500px){   
    #nombre{
        margin-left: 0;
        position: relative;
    }

    #titulo{
        margin-left: 0;
    }
}



